Flow-Control application overview:

Main purpose of application is a receiving messages, store it in cache and transmit them over different links (wifi/mobile/lan)

Sub-applications

SparkManager - control and monitor all agents

SparkProxy - server that receive messages from all agents and transmit them to other system

main modules
API:
1. Entry point for clients to send messages to application
2. Token validation (static token, generated once per application)
3. Every message contains its priority
4. Publish api for message sending and api for sending status (by polling)
5. Publish api for link quality and Scheduler mode

Receiver:
1. Receive messages
2. Validate messages (length) and all values
3. Store messages in cache by priority

Cache:
1. Store message in application cache
2. Store messages by priority

Scheduler:
1. Takes the messages from cache and send them to Sender
2. Taking messages from cache based on its priority
3. Two work modes: a. continuous taking and sending. b. sending by interval.
4. Make modes classes, insted of simple "if" checking

Sender:
1. Receive messages from Scheduler and send them on selected link
2. Send data to proxy server
3. Each link contains own trasmit method, Exapmle: LAN via tcp socket, Mobile via Https requests

FlowControl:
1. Main goal is determinate what is a best link to send messages
2. Define to Scheduler and Sender them work mode and selected link
3. Works with link adapters for each link
4. Spread the updates to clients (based on LAN broadcast messages)

LinkAdapter:
1. Link adapter for each link type
2. Checking link availability and bandwith
3. Each link contains own trasmit method, Exapmle: LAN via tcp socket, Cellular via Https requests
4. Support CircuitBreaker logic on fail sending data to SparkProxy

MonitorAdapter:
1. Sending monitoring data to SparkManager
2. Determinate the selected link quality
3. Option to making speed-test (with packet ordering support)

Discover:
1. Sending discover messages to clients
2. Sending message on LAN and WAN
3. On lan by sending broadcast messages
4. On wan by sending multicast messages
5. Separate lan and wan discover to classes

ConfigurationManager:
1. Receiving configuration from SparkManager
2. Store configuration in local storage
3. Start application working only after receiving configuration from SparkManager
4. Sync application configuration priodically with SparkManager
5. On fail sync (after X retries) set application state to slow mode
6. SparkManager can manualy select Scheduler mode and Sender link
7. Works by polling SparkManager

RouteManager:
1. Helper module to manage windows routes (based on selected link)


Next Steps:

1. Make system design (include SparkManager and SparkProxy integration)
2. Write code for FlowControl agent
3. Write code for SparkManager
4. Write code for SparkProxy

Written code language: TypeScript (based on NodeJS)


Logging patterns:

Agent
1. Write logs to local log file

SparkProxy and SparkManager supports several logging systems
1. Local
2. Splunk via hec token